BasedOnStyle: LLVM
Language: Cpp
Standard: Cpp03
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
PointerAlignment: Left
ColumnLimit: 100
IndentWidth: 4
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: None
