BasedOnStyle: Microsoft
Language: Cpp
Standard: Cpp03
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
AccessModifierOffset: -4
PointerAlignment: Left
RefereceAlignment: Left
